<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta charset="UTF-8" />
<title>Biblioteca de Livros</title>
</head>
<body>

	<nav layout:fragment="header" aria-label="breadcrumb" role="navigation">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#" th:href="@{/usuarios/list}">Usuários</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Novo Usuário</li>
	  </ol>
	</nav>

	<div layout:fragment="content" class="container">
		<form id="usuarioForm" th:action="@{/usuarios/(form)}" method="post" th:object="${usuario}" action="#" enctype="multipart/form-data" >
		
			<div class="form-group row">
		
			<input type="hidden"  th:field="*{id}" />
			
			<label for="staticUsername" class="col-sm-2 col-form-label">Username</label>
			<div class="col-sm-10">
      			<input type="text" th:field="*{username}"  class="form-control-plaintext" id="staticUsername" >
      			<span  th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
    		</div>

			<label for="staticPassword" class="col-sm-2 col-form-label">Password</label>
			<div class="col-sm-10">
      			<input type="password" th:field="*{password}"  class="form-control-plaintext" id="staticPassword" >
      			<span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
    		</div>
    			
		    <label for="staticRole" class="col-sm-2 col-form-label">Permissão</label>
			<div class="col-sm-10">
			    <select name="usuarioRole" >
			  		<option value="ROLE_BASIC" text="Básica">Básica</option>
			  		<option value="ROLE_ADMIN" text="Administrador">Administrador</option>
				</select>			
		    </div>
    			
    		<button type="submit" class="btn btn-primary">gravar</button>
    		<a href="/usuarios/list">
    		<button type="button" class="btn btn-primary">voltar</button></a>
			</div>
		</form>
	</div>
	
</body>
</html>
